@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0B0C0E] text-[#FFFFFF] font-sans antialiased selection:bg-[#CCFF00] selection:text-slate-950;
  }
}

/* Dark mode Leaflet Map customization */
.leaflet-container {
  background-color: #0B0C0E !important;
  font-family: 'Inter', sans-serif !important;
}

.leaflet-popup-content-wrapper {
  background-color: #14151B !important;
  color: #FFFFFF !important;
  padding: 4px;
  border-radius: 16px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.8) !important;
  border: 1px solid #22242D !important;
}

.leaflet-popup-tip {
  background-color: #14151B !important;
}

.leaflet-popup-content {
  margin: 8px 12px;
  line-height: 1.4;
}

.custom-leaflet-marker {
  background: transparent;
  border: none;
}

/* Custom Scrollbar for CrimeLens dark dashboard */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0B0C0E;
}

::-webkit-scrollbar-thumb {
  background: #22242D;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CCFF00;
}
